/* 
* Pieces of this code were taken from Dave Gamache's project Skeleton - http://getskeleton.com
* His software is free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/* Table of Contents
==================================================

	# Nice Default Settings
	
	# Tag Styles
	
	# Class and ID Styles
	
	# List Styles
	
	# Drop-down Menu Styles
	
	# Media Queries for Different Screen Sizes

	# Optional Instructions For Using Your Own Font (Font-Face)
	
==================================================
	
	
	
	/* # Nice Default Settings
================================================== */

@import url(http://fonts.googleapis.com/css?family=Arvo);
	
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
		
	a {
		text-decoration:none;
		color:white;
	}
		
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
	
	h1 { font-size: 46px;}
	h2 { font-size: 35px;}
	h3 { font-size: 28px;}
	h4 { font-size: 21px;}
	h5 { font-size: 17px;}
	h6 { font-size: 14px;}
	
	
	
	
	
/*==================================================*/



/* # Tag Styles
================================================== */

body {
	color: white;
	font-family: 'Arvo', serif;
	background: #496784;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}	

input[type="button"],
input[type="submit"] {
	font:bold 15px 'Arvo', serif;
	color:white;
	height: auto;
	width: auto;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	text-shadow:1px 1px 1px #000;
	border:2px solid white;
	margin:20px 30px;
	padding: 4px 8px;
	background: #80C45C;
	background:-webkit-gradient(linear,center top,center bottom, from(#70b44c), to(#a0f47c));
	background:-moz-linear-gradient(top, #70b44c, #a0f47c);
	background:-o-linear-gradient(top, #70b44c, #a0f47c);
	background:-ms-linear-gradient(top, #70b44c, #a0f47c);
	cursor: pointer;
}

input[type="text"],
input[type="password"] {
	font-family:'Arvo', serif;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size:20px;
	margin: 0;
	width: 300px;
	max-width: 100%;
	display: inline;
	margin-bottom: 20px;
}
	
textarea {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin:10px	 auto;
padding:5px;
font-size:25px;
font-family:'Arvo', serif;
width:300px;
height:100px;
outline: none;
}

form {
	display:inline;
}
	
span {
	border-right: 1px solid white;
	padding:0 10px;
	cursor:pointer;
}
		
/*==================================================*/



/* # Class and ID Styles
================================================== */

.display-none {
	display:none;
}

.display-block {
	display:block;
}

.display-inline {
	display:inline;
}

.borderless-input {
	border:none;
	background-color:#496784;
	color:#0f0;
}

.width-50-percent {
	width:50%;
	margin:0 auto;
}

.borderless-input:focus {
	outline:inset;
	background-color:#fff;
	/*color:#fff;*/
}

.float-left {
	float:left;
}

.large-font {
	font-size:30px;
	border:none;
}

#privacy-header {
	padding-bottom:20px;
	margin-bottom:20px;
	margin-top:20px;
}

#header {
	background: #395774;
	width:370px;
	margin-bottom: 30px;
	height:45px;
	-webkit-border-bottom-left-radius: 40px;
	-webkit-border-bottom-right-radius: 40px;
	-moz-border-radius-bottomleft: 40px;
	-moz-border-radius-bottomright: 40px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,1);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.6);
	box-shadow:  0 0 5px rgba(0,0,0,.6); 
}

#username-wrap {
	float:left;
	left:50%;
	position:relative;
	text-align:left;
}

#username {
	display:block;
	float:left;
	font-size:25px;
	position:relative;
	right:50%;
}
		
#drop-arrow {
	margin:8px 0 0 5px;
	height:15px;
	width:15px;
	display:block;
	float:left;
	position:relative;
	right:50%;
}
	
#share {
	color:white;
	font:25px 'minion pro';
	text-align:center;
	margin-bottom: 10px;
	text-shadow: 1px 1px rgba(0, 0, 0, .75);
}

#link-div {
	width:500px;
	height:auto;
	background:white;
	border:1px solid black;
	color:black;
	padding:10px;
	margin:5px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

#no-border {
	border:none;
	cursor:default;
}

#shareVideo {
	border-right:none;
}

.media-div {
	width:50%;
	background:white;
	border:1px solid black;
	color:black;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:15px;
	margin:5px auto 40px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	height:auto;
}

.media-error {
	color:red;
	padding-top:15px;
}

#statusInput {
	width:470px;
	margin:0 auto;
}

#title {
	font-size: 25px;
	margin-right: 30px;
}

.shareBtn {
/*float:left;
display:inline;*/
margin-top:30px;
}

#icons-div {
	width:350px;
	margin:0 auto;
}

.social-icons {
	height:60px;
	width:60px;
	margin:0 10px;
}

#content {
	color:white;
	color:black;
	background: #fff;
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,1);
	-moz-box-shadow: 0 0 40px rgba(0,0,0,1);
	box-shadow: 0 0 40px rgba(0,0,0,1);
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	padding-top: 15px;
	margin-bottom: 50px;
	margin-top:0px;
}

.polaroid {
	width: 100px;
	padding: 10px 10px 20px 10px;
	border: 1px solid #BFBFBF;
	margin:10px 0 10px 40px;
	background-color: white;
	-webkit-box-shadow: -2px 2px 3px rgba(135, 139, 144, 0.4);
	-moz-box-shadow: -2px 2px 3px rgba(135, 139, 144, 0.4);
	box-shadow: -2px 2px 3px rgba(135, 139, 144, 0.4);
	-webkit-transform: rotate(-9deg);
	-moz-transform: rotate(-9deg);
	transform: rotate(-9deg);
}

.post {
	margin:50px 0 10px 0;
}

#footer-container {
	position:fixed;
	left:50%;
}

#footer {
	height: 53px;
	max-width:950px;
	bottom:1%;

	right:50%;
	/*margin:0;*/
	position:fixed;
	z-index:-1;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.6);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,1);
	box-shadow:  0 0 5px rgba(0,0,0,.6);
	background: #395774;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	padding-top: 27px;
	font-size: 25px;
	color: white;
	margin-top:20px;
}

.footer-links {
	
	margin:0 70px;
}

#tooltip {
	padding: 5px 10px;
    background: #cad7e0;
    border: 1px solid #b2bdc3;
    opacity: 0.90;
	color:black;
}

/*==================================================*/



/*  # List Styles
==================================================*/

ul.tabs { 
		display: block;
		margin: 0 0 -5px 0;
		padding: 0;
}
	
	ul.tabs li { 
		display: block;
		margin:30px auto 0;
		margin-bottom: -5px;
		width: auto;
		height: 30px;
		padding: 0;
		float: left;
		margin-bottom: 0;
	}
	
	ul.tabs li a { 
		display: block; 
		text-decoration: none;
		font: 23px 'Minion Pro', serif;
		color:#395774;
		width: 80px; 
		height: 35px; 
		padding: 5px 20px 0;
		margin: 0 auto -5px;  
		line-height: 30px; 
		border: solid 3px #395774;
		background: #fff;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px; 
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	ul.tabs li a.active { 
		background: #fff; 
		height: 49px;
		position: relative;
		top: -12px;
		margin: 0 -3px 0 ;
		border-bottom:none;
	}


ul.tabs-content { margin: 0; display: block; }
ul.tabs-content > li { display:none; }
ul.tabs-content > li.active { display: block; }
	
/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
ul.tabs:after {
  clear: both; }
ul.tabs {
  zoom: 1; }

/*==================================================*/



/* # Drop-down Menu Styles
==================================================*/

#jsddm
{	margin: 0;
	padding: 0
}
	
	#jsddm li {
		/*float: left;*/
		list-style: none;
	}

	#jsddm li a {	
		display: block;
		background: #395774;
		padding: 10px 0px;
		margin:0 35px;
		text-align:center;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		text-decoration: none;
		font-size: 20px;
		width: 300px;
		color: white;
		white-space: nowrap;
		cursor:pointer;
		height: 45px;
	}

	#jsddm li a:hover {	
		background: #1A4473;
	}
		
		#jsddm li ul {	
			margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			/*border-top: 1px solid white*/
		}
		
		#jsddm li ul li {	
			float: none;
			display: inline;
			/*border:1px solid white;*/
		}
		
		#jsddm li ul li a {	
			width: 300px;
			background: #395774
		}
		
		#jsddm li ul li a:hover {	
			background: #1A4473
		}

/*==================================================*/



/* # Media Queries for Different Screen Sizes
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
	}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {
		
	}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
	}
	
	@media only screen and (max-width: 479px) {
		
	}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {
		
	}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {
		
	}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {
		
	}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {
		
	}
	
/*==================================================*/
	
	

/* # Optional Instructions For Using Your Own Font (Font-Face)
================================================== */

/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

/*==================================================*/